#board-container {
  border: 4mm ridge black;
}

.tileContainer {
  border: 1mm ridge red;
  width: 30px;
  height: 30px;
}

.row {
  border: 1mm ridge green;
  display: flex;
  flex-direction: row;
}

.organism-image {
  width: 25px;
  height: 25px;
}